// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
  margin: 20px 0;
  padding: 0;
}

.card {
  /* width: 200px;
  height: 20vh; */
  min-height: 275px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  position: relative;
}

.card-body {
  min-height: 175px;
  position: relative;
}

.card-body > .icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 16px;
}

.info {
  margin-top: -75px;
}

.banner {
  background-image: url(https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYXNhbWFyaXlhIiwiYSI6ImNqejNoMjVleDAzNDMzYnN2azM3anA5cnYifQ.Z3gBIGRLYkSZo3ZQVWQNMg);
  height: 40vh;
}

.info-box {
  background: #F8F9FA;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
}
